:root {
    --hogwarts-font: 'Harry Potter',
        sans-serif;
    --text-color: rgb(221, 139, 62);
    --text-border: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    --main-font: Trebuchet,
        serif;
}



body {
    background-color: black;
    background-image: url("/images/background-trees.jpg");
    background-size: cover;

    margin: 0 auto;
}

h1 {
    font-size: 96px;
    padding-top: 20px;

    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 48px;

}

h3 {
    padding: 20px 0;
}

h4 {
    font-size: 30px;
}

.navbar-logo {
    max-height: 40px;
}

.nav-link,
.dropdown-item {
    color: var(--text-color);
}

.dropdown-toggle {
    color: var(--text-color) !important;
}

.nav-link:hover {
    color: rgb(232, 187, 145);
}

.G:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: crimson;
}

.S:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: darkgreen;
}

.R:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: rgb(31, 31, 240);

}

.H:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: rgb(243, 201, 96);
}

.hero {
    margin: 100px 60px 20px 60px;

}

.container {
    padding: 0 100px 0 100px;
}

.heading {
    font-family: var(--hogwarts-font);
    text-align: center;
    color: var(--text-color);
    text-shadow: var(--text-border);
}

.subheading {
    font-family: var(--main-font);
    color: var(--text-color);
    text-shadow: var(--text-border);
    text-align: center;
}

.house-logo {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.house-link {
    text-decoration: none;
}

.house-link:hover {
    filter: brightness(140%);
}

.git-footer {
    font-family: var(--main-font);
    color: var(--text-color);
    text-shadow: var(--text-border);
    text-align: center;
    font-size: 20px;
    margin: 15px 0 30px 0;
}

.git-link {
    color: darkgreen;
    text-decoration: none;
}

.founder-img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border: 10px ridge var(--text-color);
}

.standart-table-line {
    background-color: rgba(121, 120, 118, 0.7);
}

.crimson-table-line {
    background-color: rgba(220, 51, 51, 0.7);

}

/* table, */
td {
    font-family: var(--main-font);
    color: var(--text-color);
    text-shadow: var(--text-border);
    border: 1px solid black;
    font-size: 20px;
}

/* table {
    margin: 0 auto;
    
} */

/* td {
    padding: 2px 20px 2px 20px;
} */




@media (max-width: 600px) {
    h1 {
        font-size: 72px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    h3 {
        font-size: 36px;
    }

    .hero {
        margin-top: 30px;
    }

    .container,
    .col-md-12 {
        padding: 0;
    }


}