:root {
    --hogwarts-font: 'Harry Potter',
        sans-serif;
    --golden-color: rgb(221, 139, 62);
    --red-color: rgb(248, 85, 85);
    --green-color: rgb(75, 122, 91);
    --text-color: silver;
    --text-border: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    --main-font: Trebuchet,
        serif;
}

body {
    background-color: black;
    background-image: url("/images/background-trees.jpg");
    background-size: cover;
    margin: 0 auto;
}

.hero {
    margin: 100px 60px 20px 60px;
}

.container {
    padding: 0 100px 0 100px;
}


h1 {
    font-size: 96px;
    margin-top: 50px;
}

h2 {
    font-weight: 500;
    font-size: 48px;
}

h3 {
    padding: 20px 0;
}

h4 {
    font-size: 30px;
}

.heading {
    font-family: var(--hogwarts-font);
    text-align: center;
    text-shadow: var(--text-border);
}

.subheading {
    font-family: var(--main-font);
    text-shadow: var(--text-border);
    text-align: center;
}

.text-color-standart {
    color: var(--text-color);
}

.text-color-G {
    color: var(--golden-color);
}

.accent-color-G {
    color: rgb(149, 20, 20);
}

.accent-color-S {
    color: rgb(19, 89, 58);
}


.navbar-logo {
    max-height: 40px;
}

.dropdown-item {
    color: var(--text-color);
}

.G:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: crimson;
}

.S:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: darkgreen;
}

.R:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: rgb(31, 31, 240);
}

.H:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: rgb(243, 201, 96);
}


.house-logo {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.house-link {
    text-decoration: none;
}

.house-link:hover {
    filter: brightness(140%);
}





.gryffindor-link:hover {
    color: var(--red-color);
}

.slytherin-link:hover {
    color: var(--green-color);
}


.founder-img {
    max-width: 310px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.gryffindor-img {
    border: 15px ridge var(--golden-color);
}

.slytherin-img {
    border: 15px ridge var(--text-color);
}




table {
    background-color: rgba(252, 252, 252, 0.2);
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid black;
}

td {
    font-family: var(--main-font);
    text-shadow: var(--text-border);
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
}

.gryffindor-table {
    color: var(--red-color);
}

.slytherin-table {
    color: var(--green-color);
}


.git-footer {
    font-family: var(--main-font);
    text-shadow: var(--text-border);
    text-align: center;
    font-size: 20px;
    margin: 15px 0 30px 0;
}

.git-link {
    color: darkgreen;
    text-decoration: none;
}



@media (max-width: 600px) {
    h1 {
        font-size: 72px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    h3 {
        font-size: 30px;
        line-height: 1.5;
    }

    .hero {
        margin: 0 auto;
        margin-top: 30px;
    }

    .container,
    .col-md-12 {
        padding: 0;
    }

    table {
        max-width: 300px;
    }


}