:root {
    --hogwarts-font: 'Harry Potter',
        sans-serif;
    --text-color: rgb(221, 139, 62);
    --text-border: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    --main-font: Trebuchet,
        serif;
}

body {
    background-color: black;
    background-image: url("/images/peakpx–копія.jpg");
    background-size: cover;
    max-width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 96px;
    padding-top: 20px;

    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 48px;

}

h3 {
    padding: 20px 0;
}

h4 {
    font-size: 30px;
}

.hero {
    margin: 100px 0 20px 0;
}

.heading {
    font-family: var(--hogwarts-font);
    text-align: center;
    color: var(--text-color);
    text-shadow: var(--text-border);
}

.subheading {
    font-family: var(--main-font);
    color: var(--text-color);
    text-shadow: var(--text-border);
    text-align: center;
}

.house-logo {
    max-width: 300px;
    display: block;
    margin: 0 auto;

}

.house-link {
    text-decoration: none;
}

.house-link:hover {
    filter: brightness(140%);

}